body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#skulpt_target {
	height: 100%;
	width: 100%;
	overflow: scroll;
	outline: none;
	box-sizing: border-box;
}

#skulpt_target:focus {
	border: 1px solid #6d7ebd;
}

#basic_display {
	display: flex;
	justify-content: center;
	align-items: center;      
}

#basic_display:focus canvas {
	box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.42);
}
